.nav-bg {background:#9ab; padding:10px 0;}
nav img {display: inline-block; height: 50px;}
.promo p{margin:10px 0 0;}
.promo h2 {margin-top: 0;}
.promo img {width: 100%;}
body {background-color: #345264;}
footer {text-align: center; color: #fff}
.page-header {color: #fff;}
.search-prompts li {padding-bottom: 10px;}	
label {font-weight: 500; font-size: 30px;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}
@media (min-width: 1200px) {
	.container {
		width: 970px;
	}
}